<h1 class="display-4">Contactos</h1>

<div>
  <%# CEO Mauric Villasana %> 
  <%# <ul> %>
  <%#   <li>Telefono: 0416-6158380</li> %>
  <%#   <li>Correo: <a href='mailto: mauric.villasana@gmail.com'>mauric.villasana@gmail.com</a></li> %>
  <%# </ul> %>
  <%# PR José Hernández %>
  <%# <ul> %>
  <%#   <li>Telefono: 0424-1877472</li> %>
  <%#   <li>Correo: <a href='mailto: josemauricio2211@gmail.com'>josemauricio2211@gmail.com</a></li> %>
  <%# </ul> %>

</div>
