<div style='padding-top: 20px'>
  <h1>Escoja su método de pago</h1>
  <ul class="list-group ">
    <li class="list-group-item card">
      <div class="card-body">
        Pago móvil
      </div>
    </li>
    <br></br>
    <li class="list-group-item card">
      <div class="card-body">
        Zinli
      </div>
    </li>
  </ul>
</div>
