<div id="<%= dom_id adding_product %>">
  <p>
    <strong>Name:</strong>
    <%= adding_product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= adding_product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= adding_product.image %>
  </p>

</div>
