<h1>Editing adding product</h1>

<%= render "form", adding_product: @adding_product %>

<br>

<div>
  <%= link_to "Show this adding product", @adding_product %> |
  <%= link_to "Back to adding products", adding_products_path %>
</div>
