#alert {
  /* position: absolute; */
  margin: auto;
  top: -63px;
  margin-bottom: -50px;
  width: 50%;
}
@media screen and (max-width: 800px) {
  #alert {
    margin: auto;
    top: -63px;
    margin-bottom: -50px;
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  #alert {
    margin: auto;
    top: -63px;
    margin-bottom: -50px;
    width: 92%;
  }
}
