@media screen and (min-width: 800px) {
  .cart-responsive {
    margin: auto;
    width: 50%;
  }
  .img-responsive {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .card-text-responsive {
    font-size: 17px;
  }
  .cart-responsive {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .card-text-responsive {
    font-size: 15px;
  }
  .cart-responsive {
    width: 100%;
  }
  .card-cart-responsive {
    margin-left: -20px;
    margin-right: -20px;
  }
}
